[unix_http_server]
file=/tmp/supervisor.sock                       ; path to your socket file

[supervisord]
logfile=/var/log/supervisord/supervisord.log    ; supervisord log file
logfile_maxbytes=50MB                           ; maximum size of logfile before rotation
logfile_backups=10                              ; number of backed up logfiles
loglevel=error                                  ; info, debug, warn, trace
pidfile=/var/run/supervisord.pid                ; pidfile location
nodaemon=false                                  ; run supervisord as a daemon
minfds=1024                                     ; number of startup file descriptors
minprocs=200                                    ; number of process descriptors
user=root                                       ; default user
childlogdir=/var/log/supervisord/               ; where child log files will live

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix:///tmp/supervisor.sock ; use a unix:// URL for a unix socket

[program:home-assistant]
user={{ media_server_user }}
command=docker run  -v {{ home_assistant_folder }}:/config -v /etc/localtime:/etc/localtime:ro --net=host homeassistant/home-assistant

[program:plexmediaserver]
user={{ media_server_user }}
command=docker run --network=host -e TZ="{{ plex_timezone }}" -e PLEX_CLAIM="{{ plex_claim_token }}" -v {{ plex_config_folder }}:/config -v {{ plex_transcode_folder }}:/transcode -v {{ plex_uhd_movies_src }}:{{ plex_uhd_movies_dst }} -v {{ plex_hd_movies_src }}:{{ plex_hd_movies_dst }}  plexinc/pms-docker

[program:appdaemon]
user={{ media_server_user }}
command=docker run --rm -p 5050:5050 -e HA_URL="https://{{ media_server_domain_name }}" -e TOKEN="{{ appdaemon_token }}" -e DASH_URL="http://$HOSTNAME:5050" acockburn/appdaemon:latest
